body{
	margin: 0;
    font-family: 'Lato', sans-serif;
	font-size:15px;
    background-color: #ffffff;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
} 

.header {
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 636px;
    background: url("images/background.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.header:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 70.6%;
    margin-top: 47px;
}

.header_box {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.js-header_nav__link {
    font-size: 18px;
    line-height: 27px;
    font-family: "roboto";
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}

.header__navBtn {
    font-size: 16px;
    line-height: 24px;
    font-family: "roboto";
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: none;
    padding: 14px 35px;
    background: rgba(201, 69, 59, 1);
    border-radius: 5px;
    margin-left: 12%;
    margin-top: -14px;
}

.header__logo img {
    height: 18px;
    width: 124px;
    margin-top: 52px;
}

.header-text {
    padding-top: 18.3%;
    position: relative;
    z-index: 1;
}

.text__title {
    font-size: 65px;
    line-height: 78px;
    color: rgb(255, 255, 255);
    font-family: 'gelasio';
    font-weight: 700;
    width: 70%;
}

.text__subtitle {
    font-size: 18px;
    line-height: 29px;
    color: #adb0b5;
    font-family: "Gelasio";
    font-weight: 400;
    width: 40%;
    margin-top: 30px;
}

.text__search {
    display:inline-block;
    font-size: 16px;
    line-height: 24px;
    font-family: "roboto";
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: none;
    padding: 16px 46px;
    background: rgba(201, 69, 59, 1);
    border-radius: 5px;
    margin-top: 40px;
}

.js-header__burger {
    display: none;
}

@media (max-width: 1400px) { 

    .header-text {
        padding-top: 11.3%;
    }
}

 @media (max-width: 1200px) { 

    .header__container {
        padding: 0 5px;
    }

    .text__title {
        width: 82%;
    }

    .text__subtitle {
        width: 57%;
    }
 }

 @media (max-width: 991px) { 

    .text__title {
        margin: 0 auto;
        text-align: center;
        align-items: center;
        width: 95%;
    }

    .text__subtitle {
        margin: 30px auto 0;
        text-align: center;
        width: 70%;
    }

    .text__search {
        display: block;
        width: 187px;
        margin: 40px auto 0;
        text-align: center;
    }

    .js-header_nav__link {
        font-size: 16px;
    }

    .header__navBtn {
        font-size: 15px;
    }
}

 @media (max-width: 767px) {

    .text__title {
        width: 100%;
        font-size: 60px;
    }

    .header-text {
        padding-top: 18.3%;
    }

    body.lock {
        overflow: hidden;
    }

    .header_body {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }

    .header_body:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #536673;
        z-index: 1;
    }

    .header_box {
        position: relative;
        height: 50px;
    }

    .js-header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
        margin-right: 10px;
        margin-top: 15px;
    }

    .js-header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition:  all 0.3s ease 0s;
    }

    .js-header__burger:before,
    .js-header__burger:after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition:  all 0.3s ease 0s;
    }

    .js-header__burger:before {
        top: 0;
    }

    .js-header__burger:after {
        bottom: 0;
    }

    .js-header__burger.active:before {
        transform:rotate(45deg);
        top: 9px;
    }

    .js-header__burger.active:after {
        transform:rotate(-45deg);
        bottom: 9px;
    }

    .js-header__burger.active span {
    transform: scale(0);
    }

    .header__logo img {
        display: block;
        position: relative;
        z-index: 5;
        margin-top: 15px;
    }

    .js-header__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #5e6362;
        margin-left: 0;
        margin-top: 0;
        padding-top: 80px;
        padding-bottom: 500px;
        padding-right: 10px;
        transition:  all 0.3s ease 0s;
    }

    .js-header__menu.active {
        top: 0;
    }

    .header__navBtn {
        top: 370px;
        right: 0;
        height: 51px;   
        margin-top: 35px;
    }
}

@media (max-width: 575px) { 

    .text__title {
        font-size: 50px;
        line-height: 68px;
    }

    .text__subtitle {
        font-size: 17px;
    }

    .text__search {
        font-size: 15px;
        line-height: 22px;
        width: 186px;
    }
}

@media (max-width: 400px) { 

    .text__title {
        font-size: 43px;
        line-height: 68px;
    }

    .text__subtitle {
        font-size: 15px;
    }
}

/* main */

.main {
    width: 100%;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 172px;
}

.main__inner {
    display: flex;
    flex-direction: column; 
}

.row-title {
    font-family: "gelasio";
    font-size: 43px;
    line-height: 60px;
    color: #000;
    font-weight: 500;
}

.row-subtitle {
    font-family: "roboto";
    font-size: 18px;
    line-height: 29px;
    color: #666666;
    font-weight: 400;
    width: 60%;
    margin: 20px auto 50px;
}

.main-row {
    text-align: center;
}

.main__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.main__item {
    width: 31.3333%;
    height: auto;    
}

.main-text {
    margin-top: -160px;
    align-items:center;
    text-align: center;
    padding: 0 20px;
}

.main-hover img {
    width: 100%;
    height: auto;
    border-radius: 11px;
    border: 1px solid #e6e6e6;
    padding-bottom: 169px;
}

.main__city {
    font-family: "Gelasio";
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    font-weight: 500;
    margin: 20px auto 10px;   
}

.main__preview {
    font-family: "gelasio";
    font-size: 18px;
    line-height: 29px;
    color: #666666;
    font-weight: 400;
}

.main-hover img:hover {
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease 0s;
}

@media (max-width: 1200px) {
    .main-text {
        padding: 0 10px;
    }
}

@media (max-width: 991px) {

    .main {
        margin-top: 100px;
    }

    .main-text {
        padding: 0 5px;
    }

    .row-subtitle {
        width: 85%;
    }

    .main__city {
        font-size: 22px;
        line-height: 33px;
        margin: 17px auto 10px;
    }

    .main__preview {
        font-size: 17px;
        line-height: 27px;
    }
}

@media (max-width: 767px) {

    .main {
        margin-bottom: 72px;
    }

    .main__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__item {
        width: 75%;
        margin-bottom: 60px; 
    }

    .main-hover img {
        padding-bottom: 120px;
    }

    .main-text {
        margin-top: -120px;
        padding: 0 15px;
    }

    .row-subtitle {
        width: 89%;
    }
}

@media (max-width: 575px) {

    .main {
        margin-bottom: 0px;
    }

    .main__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__item {
        width: 85%;
        margin-bottom: 60px; 
    }

    .main-hover img {
        padding-bottom: 120px;
    }

    .main-text {
        margin-top: -130px;
        padding: 0 10px;
    }

    .row-title {
        font-size: 41px;
    }

    .row-subtitle {
        font-size: 17px;
    }
    
    .main__city {
        font-size: 20px;
    }

    .main__preview {
        font-size: 15px;
    }
}

/* wrapper */

.wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;  
}

.wrapper-top-text {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 60px;
}

.wrapper-title {
    font-size: 43px;
    line-height: 60px;
    color: #000;
    margin-bottom: 20px;
}

.wrapper-subtitle {
    font-size: 18px;
    line-height: 29px;
    width: 34%;
    font-family: "roboto";
    font-weight: 400;
    color: #666666;
}

.slider-item {
    position: relative;
}

.slider__image img {
    border-radius: 10px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider {
    position: relative;
    width: 100%;
}

.slider-box__text {
    display: inline-block;
    width:  auto;
    width: 262px;
    height: auto;
    text-align: justify;
    margin-top: 0;
}

.slider-text-bottom {
    font-size: 24px;
    line-height: 36px;
    margin-top: 15px;
    margin-bottom: 8px;
    color: #333333;
}

.slider-location {
    display: flex;
}

.slider-pic img {
    width: 11px;
    height: 15px;
    margin-top: 5px;
    margin-right: 10px;
    font-family: "gelasio";
    font-weight: 500;
}

.slider__nameCity {
    font-size: 20px;
    line-height: 30px;
    font-family: "roboto"; 
    color: #858585;
    font-weight: 400;
}

.slider__imgStar img {
    margin-left: 50px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.slider__grade {
    font-size: 18;
    line-height: 27px;
    font-family: "roboto";
    font-weight: 400;
    color: #000;
    margin-top: 4px;
}

.slider__subject {
    font-size: 16px;
    line-height: 24px;
    font-family: "roboto";
    font-weight: 400;
    color: #858585;
    margin: 8px 0;
}

.slider__subtitle {
    font-size: 17px;
    line-height: 25.5px;
    font-family: "roboto";
    font-weight: 400;
    color: #858585;
}

.slider-textBolt {
    font-size: 18px;
    line-height: 27px;
    font-family: "roboto";
    font-weight: 500;
    color: #333333;
}

/* Слайд*/
.slick-slide{
    margin: 0;
    padding: 0;
}

.slider .slick-arrow{
    position: absolute;
    top: 380px;
    z-index: 10 ;
    font-size: 0px;
    width: 14px;
    height: 15px;
    border: none;
    margin: 0 auto;
}
 
/* стрелки */
.slider .slick-arrow.slick-prev{
    left: 40%;
    background: url("images/arrows-prev.svg") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
    right: 40%;
    background: url("images/arrows-next.svg") 0 0 / 100% no-repeat;
}

/* Точки (булиты) */
.slider .slick-dots{
    display: flex;
    justify-content: center;
    margin: 47px auto 0;
    padding-right: 42px;
    line-height: 0;

}
.slider .slick-dots li{
    list-style: none;
    margin: 0 1.5px;
    position: relative;
    z-index: 2;
}

.slider .slick-dots button {
    font-size: 0;
    border-radius: 5px;
    background-color: #c9453b36;
    border: none;
}

/* Активная точка */
.slider .slick-dots li.slick-active button{
    background-color: #c9453b;  
}

/* Элемент точки */
.slick-dots li button{
    width: 8vh;
    height: 5px;
}

@media (max-width: 1400px) {

    .wrapper-subtitle {
        width: 48%;
    }

    /* Элемент точки */
.slick-dots li button{
    width: 7vh;
    height: 5px;
    }

    /* стрелки */
    .slider .slick-arrow.slick-prev{
        left: 40%;
        background: url("images/arrows-prev.svg") 0 0 / 100% no-repeat;
    }

    .slider .slick-arrow.slick-next{
        right: 40%;
        background: url("images/arrows-next.svg") 0 0 / 100% no-repeat;
    }
}

@media (max-width: 1200px) {

    .wrapper-subtitle {
        width: 58%;
    }

    /* Элемент точки */
.slick-dots li button{
    width: 6vh;
    height: 5px;
    }

    /* стрелки */
    .slider .slick-arrow.slick-prev{
        left: 39%;
        background: url("images/arrows-prev.svg") 0 0 / 100% no-repeat;
    }

    .slider .slick-arrow.slick-next{
        right: 39%;
        background: url("images/arrows-next.svg") 0 0 / 100% no-repeat;
    }
}

@media (max-width: 991px) {

    .wrapper-title {
        font-size: 40px;
    }

    .wrapper-subtitle {
        width: 65%;
        font-size: 17px;
    }

    /* Элемент точки */
    .slick-dots li button{
        width: 5vh;
        height: 5px;
    }

    /* стрелки */
    .slider .slick-arrow.slick-prev{
        left: 38%;
        background: url("images/arrows-prev.svg") 0 0 / 100% no-repeat;
    }

    .slider .slick-arrow.slick-next{
        right: 38%;
        background: url("images/arrows-next.svg") 0 0 / 100% no-repeat;
    }
}

@media (max-width: 767px) {

    .wrapper-title {
        font-size: 38px;
    }

    .wrapper-subtitle {
        width: 75%;
        font-size: 16px;
    }

    /* Элемент точки */
    .slick-dots li button{
        width: 4vh;
        height: 4px;
    }

    /* стрелки */
    .slider .slick-arrow.slick-prev{
        left: 36%;
        background: url("images/arrows-prev.svg") 0 0 / 100% no-repeat;
    }

    .slider .slick-arrow.slick-next{
        right: 36%;
        background: url("images/arrows-next.svg") 0 0 / 100% no-repeat;
    }

    /* Точки (булиты) */
    .slider .slick-dots{
        margin: 47px auto 0;
    }
}

@media (max-width: 575px) {

    .wrapper-title {
        font-size: 35px;
    }

    .wrapper-subtitle {
        width: 85%;
        font-size: 15px;
    }

    /* Элемент точки */
    .slick-dots li button{
        width: 3vh;
        height: 3px;
        }

    /* стрелки */
    .slider .slick-arrow.slick-prev{
        left: 20%;
        background: url("images/arrows-prev.svg") 0 0 / 100% no-repeat;
    }

    .slider .slick-arrow.slick-next{
        right: 20%;
        background: url("images/arrows-next.svg") 0 0 / 100% no-repeat;
    }

    /* Точки (булиты) */
    .slider .slick-dots{
        margin: 46.5px auto 0;
    }

    .slider-text-bottom {
        font-size: 22px;
    }

    .slider__nameCity {
        font-style: 18px;
    }

    .slider__subject {
        font-size: 15px;
    }

    .slider-textBolt {
        font-size: 16px;
    }

    .slider__subtitle {
        font-size: 15px;
    }
}

/* section */

.section {
    width: 100%;
    height: auto;
    margin-top: 140px;
}

.section__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.section-text {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.section-title {
    font-family: "gelasio";
    font-size: 43px;
    line-height: 60px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 20px;
}

.section-subtitle {
    font-family: "roboto";
    font-size: 18px;
    line-height: 29px;
    color: #666666;
    font-weight: 400;
    width: 60%;
    margin: 0 auto 56px;
}

.section-inner {
    display: flex;
    width: 100%;
}

.section-inner__left {
    width: 100%;
    max-width: 48.7%;
    height: auto;
}

.section__img img {
    width: 100%;
    height: auto;
}

.section-inner__text {
    margin-top: 6.2%;
}

.section-inner__title {
    font-family: "gelasio";
    font-style: "medium";
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-inner__subtitle {
    font-family: "roboto";
    font-style: "medium";
    font-size: 18px;
    line-height: 29px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 10px;
    width: 83%;
}

.section-inner__mail {
    font-family: "roboto";
    font-style: "medium";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
}

.section-inner__right {
    display: flex;
    flex-direction: column;
    width: 51.3%;
    margin-left: 3%;
    height: auto;
}

.section__item {
    display: flex;
    margin-bottom: 4.9%;
}

.inner__img {
    min-width: 47.6%;
}

.inner__img img {
    width: 100%;
    max-width: 263px;
    height: auto;
    border-radius: 10px;  
}

.section-footer {
    padding-left: 4.6%;
    width: 52.4%;
    height: auto;
}

.item-title {
    font-family: "gelasio";
    font-style: "medium";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 12.4%;
}

.section-box__subtitle {
    font-family: "roboto";
    font-size: 18px;
    line-height: 29px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 10px;
}

.section-box__mail {
    font-family: "roboto";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .section-inner__text {
    margin-left: 5px;
    }

    .item-title {
        margin-top: 7.4%;
    }

    .section-box__subtitle {
        margin-bottom: 7px;
        font-size: 17px;
    }
}

@media (max-width: 991px) {

    .section-inner {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        align-items:center;
        margin-bottom: 150px;
    }

    .section-inner__left {
        min-width: 70%;
    }

    .section__img img {
        width: 100%;
    }

    .section-inner__text {
        margin: 35px auto 0;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .section-inner__subtitle {
        width: 100%;
    }

    .section-inner__right {
        margin-top: 4.9%;
        width: 100%;
    }

    .section__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 4.9%;
    }

    .section-inner__right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    
    .inner__img {
        width: 70%;
        margin: 0 auto;
        align-items:center;
        text-align: center;
    }
     
    .inner__img img {
        min-width: 100%;
        height: auto;  
    }

    .section-footer {
        padding-left: 0;
        width: 70%;
        height: auto;
        align-items:center;
        text-align: center;
        margin: 0 auto; 
    }

    .item-title {
        margin-top: 5.4%;
    }
}

@media (max-width: 767px) {

    .section-subtitle {
        width: 85%;
        margin-bottom: 35px;
    }

    .section-inner__left {
        min-width: 85%;
    }

    .inner__img {
        width: 85%;
        margin: 0 auto;
        align-items:center;
        text-align: center;
    }

    .section-inner__title {
        font-size: 19px;
        line-height: 30px;
    }

    .section-inner__subtitle {
        font-size: 17px;
        line-height: 28px;
    }

    .section-footer {
        width: 85%;
    }
}

@media (max-width: 575px) {

    .section {
        margin-top: 100px;
    }

    .section-title {
        font-size: 41px;
    }
 
    .section-subtitle {
        width: 95%;
        margin-bottom: 35px;
    }

    .section-inner__left {
        min-width: 95%;
    }

    .inner__img {
        width: 95%;
        margin: 0 auto;
        align-items:center;
        text-align: center;
    }

    .section-inner__title {
        font-size: 19px;
        line-height: 30px;
    }

    .section-inner__subtitle {
        font-size: 17px;
        line-height: 28px;
    }

    .section-footer {
        width: 95%;
    }

    .section-inner__right {
        margin-top: 3.9%;
    }
    
    .section__item {
        margin-bottom: 3.9%;
    }

    .section-inner__text {
        margin-top: 4.5%;
    }

    .section__item--footer {
        margin-bottom: 0;
    }
}

/* footer */

.footer {
    display: flex;
    width: 100%;
    background-color: #f6fbfb;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6%;
    margin-bottom: 5.3%;
}

.footer__socials {
    display: flex;
}

.footer__socials img {
   margin-right: 27px;
   margin-top: 20px;
   border-radius: 7px;
}

.footer-boxTwo {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
}

.nav_link {
    text-decoration: none;
    margin-bottom: 16px;
    color: #000000;
    letter-spacing: 1.3px;
    font-family: "roboto";
    font-style: "redium";
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.footer__contact {
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 1.3px;
    font-family: "roboto";
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    font-weight: 400;
}

.footer__mail {
    font-family: "roboto";
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    font-weight: 400;
    letter-spacing: 1.3px;
}

.footer-boxThree {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
}

.footer-boxFour {
    display: flex;
    flex-direction: column;
    margin-right: 2.2%;
}

.footer-boxFour__text {
    font-family: "roboto";
    font-style: "redium";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
    letter-spacing: 1.3px;
    margin-bottom: 42px;
}

.footer-inner {
    display: flex;
}

.footer-inner__mail {
    font-family: "roboto";
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    letter-spacing: 1.3px;
    padding: 10px 131px 10px 20px;
    border: 1px solid #dde1e1;
    border-radius: 5px;
    width: 195px;
}

.footer__btn {
    font-family: "roboto";
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1.3px;
    padding: 10px 32px;
    border-radius: 5px;
    background-color: rgba(201, 69, 59, 1);
    margin-left: 35px;
    text-decoration: none;
}

@media (max-width: 991px) {

    .footer {
        margin-top: -10%;
    }

    .footer-content {
        display: flex;
        justify-content: space-evenly;
        padding: 0 10px;
    }

    .footer-boxOne {
        margin-bottom: 50px;
    }

    .footer-boxTwo {
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .footer-boxThree {
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .footer-boxFour {
        padding-left: 50px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px; 
    }
}

 @media (max-width: 767px) {

    .footer-boxTwo {
        margin-left: 60px;
    }

    .footer-boxThree {
        margin-left: 50px;
    }

    .footer-boxFour {
        margin: 0 auto;
        padding-left: 0;
    }
}

@media (max-width: 575px) {

    .footer {
        margin-top: -100px;
    }

    .footer-content {
        padding: 0;
    }

    .footer-boxTwo {
        margin-left: 160px;
    }

    .footer-boxThree {
        margin: 0 auto;
        padding: 0;
    }

    .footer-boxFour {
        margin: 0 auto;
        padding: 0;
        margin-left: 80px;
    }

    .footer__mail {
        letter-spacing: .8px;
    }

    .nav_link {
        letter-spacing: .8px;
    }

    .footer-inner {
        display: flex;
        flex-direction: column;
    }

    .footer__btn {
        width: 103px;
        margin-top: 10px;
        margin-left: 92px;        
    }
}

@media (max-width: 440px) {

    .footer-content {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
    }

    .footer__contact {
        margin-top: 30px;

    }
    .footer-boxOne {
        line-height: 22px;
        margin-bottom: 35px;
    }

    .footer-boxTwo {
        margin-left: 0px;
        margin-bottom: 35px;
    }

    .footer-boxThree {
        margin-left: 0;
        margin-bottom: 35px;
        margin-top: -20px;
    }

    .footer-boxFour {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: -20px;
    }

    .footer-inner {
        display: flex;
        flex-direction: row;
    }

    .footer__btn {
        margin-top: 0px;
        margin-left: 10px;
        font-size: 15px;       
    }

    .footer__mail {
        letter-spacing: 1.3px;
    }

    .nav_link {
        letter-spacing: 1.3px;
        line-height: 22px;
    }

    .footer-boxFour__text {
        margin-left: 0;
        align-items: left;
        text-align: left;
        margin-bottom: 22px;
    }

    .footer-inner__mail {
        font-size: 15px;
        width: 185px;
    }
}

